<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>201910788</td>
      <td>Vilog</td>
      <td>Dominic</td>
      <td>B.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001077</td>
      <td>Antonio</td>
      <td>Joshua Janric</td>
      <td>Asuncion</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001082</td>
      <td>Aranzamendez</td>
      <td>Samantha Gwyn</td>
      <td>Mapula</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001084</td>
      <td>Arcega</td>
      <td>Mariciel</td>
      <td>Lurido</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001138</td>
      <td>Banzon</td>
      <td>Trisha May</td>
      <td></td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001338</td>
      <td>De Leon</td>
      <td>Rick Armand</td>
      <td>Puno</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001647</td>
      <td>Lucas</td>
      <td>David Jhozel</td>
      <td>Reyes</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001717</td>
      <td>Martillano</td>
      <td>Cseth Marcus</td>
      <td>Aynaga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202001963</td>
      <td>Rupinta</td>
      <td>Jose Cyril</td>
      <td>Mendez</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202002079</td>
      <td>Temeña</td>
      <td>John Kelly</td>
      <td>Cadiz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202002135</td>
      <td>Villacarlos</td>
      <td>Ayra Shane</td>
      <td>Cuyugan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010154</td>
      <td>Amadeo</td>
      <td>Alfredo III</td>
      <td>Mendoza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010366</td>
      <td>Bangay</td>
      <td>Christian</td>
      <td>Recta</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010391</td>
      <td>Barrios</td>
      <td>Gabriel Nicoh</td>
      <td>Hulleza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010516</td>
      <td>Borlat</td>
      <td>Lee Ryan Edward</td>
      <td>Masanga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010692</td>
      <td>Carpio</td>
      <td>Bea Mikaela</td>
      <td>N.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202010864</td>
      <td>Cruz</td>
      <td>Yuanah Marie</td>
      <td>Sava</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011017</td>
      <td>Dela Cruz</td>
      <td>Aries</td>
      <td>Luceño</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011119</td>
      <td>Dionisio</td>
      <td>Kristelle Anne</td>
      <td>Hipolito</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011210</td>
      <td>Erispe</td>
      <td>Eivan</td>
      <td>Fernando</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011511</td>
      <td>Gomez</td>
      <td>Mike Miguel</td>
      <td>Opiana</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011562</td>
      <td>Guevarra</td>
      <td>Zymon Gabriel</td>
      <td>L.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011576</td>
      <td>Gundayao</td>
      <td>Youzelle Migo</td>
      <td>Florento</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011625</td>
      <td>Hilotina</td>
      <td>Eulla Marielle</td>
      <td>Biglang-Awa</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202011847</td>
      <td>Lingad</td>
      <td>Alexandei Paul</td>
      <td>A.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202012298</td>
      <td>Navarro</td>
      <td>Rekhaela Vlain</td>
      <td>Mamaril</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202012311</td>
      <td>Ngo</td>
      <td>Moira Bernice</td>
      <td>Cipat</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202012881</td>
      <td>Salazar</td>
      <td>Althea Coleen</td>
      <td>Catindoy</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202013248</td>
      <td>Trajano</td>
      <td>Patricia Nicole</td>
      <td>Cruz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202013283</td>
      <td>Urquico</td>
      <td>Kurt Jacob</td>
      <td>Estrada</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202013580</td>
      <td>Santoyo</td>
      <td>Francis Emanuel</td>
      <td>Eclevia</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202020060</td>
      <td>Celestra</td>
      <td>Maria Ysabelle</td>
      <td>G.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202020153</td>
      <td>Lapuz</td>
      <td>Jam Chester</td>
      <td>S.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202030107</td>
      <td>Facunla</td>
      <td>Jonathan</td>
      <td>E.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202030209</td>
      <td>Ostia</td>
      <td>Mary Grace</td>
      <td>Onagan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202030295</td>
      <td>Zulueta</td>
      <td>Ma. Krizel Anne</td>
      <td>Ventura</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0312.1</td>
      <td>202140136</td>
      <td>Verdillo</td>
      <td>Korinne</td>
      <td>L.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001077</td>
      <td>Antonio</td>
      <td>Joshua Janric</td>
      <td>Asuncion</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001082</td>
      <td>Aranzamendez</td>
      <td>Samantha Gwyn</td>
      <td>Mapula</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001084</td>
      <td>Arcega</td>
      <td>Mariciel</td>
      <td>Lurido</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001138</td>
      <td>Banzon</td>
      <td>Trisha May</td>
      <td></td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001338</td>
      <td>De Leon</td>
      <td>Rick Armand</td>
      <td>Puno</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001647</td>
      <td>Lucas</td>
      <td>David Jhozel</td>
      <td>Reyes</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001717</td>
      <td>Martillano</td>
      <td>Cseth Marcus</td>
      <td>Aynaga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202001963</td>
      <td>Rupinta</td>
      <td>Jose Cyril</td>
      <td>Mendez</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202002079</td>
      <td>Temeña</td>
      <td>John Kelly</td>
      <td>Cadiz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202002135</td>
      <td>Villacarlos</td>
      <td>Ayra Shane</td>
      <td>Cuyugan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010154</td>
      <td>Amadeo</td>
      <td>Alfredo III</td>
      <td>Mendoza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010366</td>
      <td>Bangay</td>
      <td>Christian</td>
      <td>Recta</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010391</td>
      <td>Barrios</td>
      <td>Gabriel Nicoh</td>
      <td>Hulleza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010516</td>
      <td>Borlat</td>
      <td>Lee Ryan Edward</td>
      <td>Masanga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010692</td>
      <td>Carpio</td>
      <td>Bea Mikaela</td>
      <td>N.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202010864</td>
      <td>Cruz</td>
      <td>Yuanah Marie</td>
      <td>Sava</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011017</td>
      <td>Dela Cruz</td>
      <td>Aries</td>
      <td>Luceño</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011119</td>
      <td>Dionisio</td>
      <td>Kristelle Anne</td>
      <td>Hipolito</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011210</td>
      <td>Erispe</td>
      <td>Eivan</td>
      <td>Fernando</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011511</td>
      <td>Gomez</td>
      <td>Mike Miguel</td>
      <td>Opiana</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011562</td>
      <td>Guevarra</td>
      <td>Zymon Gabriel</td>
      <td>L.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011576</td>
      <td>Gundayao</td>
      <td>Youzelle Migo</td>
      <td>Florento</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011625</td>
      <td>Hilotina</td>
      <td>Eulla Marielle</td>
      <td>Biglang-Awa</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202011847</td>
      <td>Lingad</td>
      <td>Alexandei Paul</td>
      <td>A.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202012298</td>
      <td>Navarro</td>
      <td>Rekhaela Vlain</td>
      <td>Mamaril</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202012311</td>
      <td>Ngo</td>
      <td>Moira Bernice</td>
      <td>Cipat</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202012881</td>
      <td>Salazar</td>
      <td>Althea Coleen</td>
      <td>Catindoy</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202013248</td>
      <td>Trajano</td>
      <td>Patricia Nicole</td>
      <td>Cruz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202013283</td>
      <td>Urquico</td>
      <td>Kurt Jacob</td>
      <td>Estrada</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202013580</td>
      <td>Santoyo</td>
      <td>Francis Emanuel</td>
      <td>Eclevia</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202020060</td>
      <td>Celestra</td>
      <td>Maria Ysabelle</td>
      <td>G.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202020153</td>
      <td>Lapuz</td>
      <td>Jam Chester</td>
      <td>S.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202030107</td>
      <td>Facunla</td>
      <td>Jonathan</td>
      <td>E.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202030209</td>
      <td>Ostia</td>
      <td>Mary Grace</td>
      <td>Onagan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0314.1</td>
      <td>202030295</td>
      <td>Zulueta</td>
      <td>Ma. Krizel Anne</td>
      <td>Ventura</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>201910788</td>
      <td>Vilog</td>
      <td>Dominic</td>
      <td>B.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>201920175</td>
      <td>Celeste</td>
      <td>Alonica Ivy</td>
      <td>D.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001077</td>
      <td>Antonio</td>
      <td>Joshua Janric</td>
      <td>Asuncion</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001082</td>
      <td>Aranzamendez</td>
      <td>Samantha Gwyn</td>
      <td>Mapula</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001084</td>
      <td>Arcega</td>
      <td>Mariciel</td>
      <td>Lurido</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001138</td>
      <td>Banzon</td>
      <td>Trisha May</td>
      <td></td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001338</td>
      <td>De Leon</td>
      <td>Rick Armand</td>
      <td>Puno</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001647</td>
      <td>Lucas</td>
      <td>David Jhozel</td>
      <td>Reyes</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001717</td>
      <td>Martillano</td>
      <td>Cseth Marcus</td>
      <td>Aynaga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202001963</td>
      <td>Rupinta</td>
      <td>Jose Cyril</td>
      <td>Mendez</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202002079</td>
      <td>Temeña</td>
      <td>John Kelly</td>
      <td>Cadiz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202002135</td>
      <td>Villacarlos</td>
      <td>Ayra Shane</td>
      <td>Cuyugan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010154</td>
      <td>Amadeo</td>
      <td>Alfredo III</td>
      <td>Mendoza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010366</td>
      <td>Bangay</td>
      <td>Christian</td>
      <td>Recta</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010391</td>
      <td>Barrios</td>
      <td>Gabriel Nicoh</td>
      <td>Hulleza</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010516</td>
      <td>Borlat</td>
      <td>Lee Ryan Edward</td>
      <td>Masanga</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010692</td>
      <td>Carpio</td>
      <td>Bea Mikaela</td>
      <td>N.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202010864</td>
      <td>Cruz</td>
      <td>Yuanah Marie</td>
      <td>Sava</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011017</td>
      <td>Dela Cruz</td>
      <td>Aries</td>
      <td>Luceño</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011119</td>
      <td>Dionisio</td>
      <td>Kristelle Anne</td>
      <td>Hipolito</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011210</td>
      <td>Erispe</td>
      <td>Eivan</td>
      <td>Fernando</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011511</td>
      <td>Gomez</td>
      <td>Mike Miguel</td>
      <td>Opiana</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011562</td>
      <td>Guevarra</td>
      <td>Zymon Gabriel</td>
      <td>L.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011576</td>
      <td>Gundayao</td>
      <td>Youzelle Migo</td>
      <td>Florento</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011625</td>
      <td>Hilotina</td>
      <td>Eulla Marielle</td>
      <td>Biglang-Awa</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202011847</td>
      <td>Lingad</td>
      <td>Alexandei Paul</td>
      <td>A.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202012298</td>
      <td>Navarro</td>
      <td>Rekhaela Vlain</td>
      <td>Mamaril</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202012311</td>
      <td>Ngo</td>
      <td>Moira Bernice</td>
      <td>Cipat</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202012881</td>
      <td>Salazar</td>
      <td>Althea Coleen</td>
      <td>Catindoy</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202013248</td>
      <td>Trajano</td>
      <td>Patricia Nicole</td>
      <td>Cruz</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202013283</td>
      <td>Urquico</td>
      <td>Kurt Jacob</td>
      <td>Estrada</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202013580</td>
      <td>Santoyo</td>
      <td>Francis Emanuel</td>
      <td>Eclevia</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202020060</td>
      <td>Celestra</td>
      <td>Maria Ysabelle</td>
      <td>G.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202020153</td>
      <td>Lapuz</td>
      <td>Jam Chester</td>
      <td>S.</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202030107</td>
      <td>Facunla</td>
      <td>Jonathan</td>
      <td>E.</td>
      <td>Irregular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202030209</td>
      <td>Ostia</td>
      <td>Mary Grace</td>
      <td>Onagan</td>
      <td>Regular</td>
    </tr>
    <tr>
      <th>0</th>
      <td>CSC 0315.1</td>
      <td>202030295</td>
      <td>Zulueta</td>
      <td>Ma. Krizel Anne</td>
      <td>Ventura</td>
      <td>Regular</td>
    </tr>
  </tbody>
</table>